/*
The Boise Bean CSS
Version 2.0
Last revised: Sunday, Feb 12, 2012
*/
body {
	font: 100% 'Ropa Sans', Helvetica, 'Sans serif';
	margin: 0 auto;
	background: #222;
	max-width: 960px;
	max-height: 100%;
	border-right: .125em groove #4f1119; /*2px*/
	border-left: .125em groove #4f1119; /*2px*/
}

#wrapper {
	background: #fff;
	width: 100%;
	margin: 0 auto;
}


#logo_container {
	width: 20.3125%;
	height: 20.8333333%;
	float: left;
	
}

#logo {
	max-width: 100%;
}


h1 {
	font: bold 3.6em Garamond;
	margin: 5% 2.6041667%;
	float: right;
	color: #fff;
	text-shadow: 0.0625em 0 #663300;  /*1px*/
}

h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: Magra, Arial, 'Sans Serif';
	letter-spacing: .03em;
}

p {
	margin:0;
}

header {
	width: 100%;
	background: #006600;
	border-bottom: .15em groove #4f1119;
	border-top: .25em solid #4f1119;
	overflow: hidden;
}

ul li {
	list-style: circle;
}


/* ------ Nav Menu ------ */
nav {
	float: right;
	width: 60%;
	height: 50px;
	margin: 0;
	padding-right: 2.6041667%; /*25px/960px*/
	overflow: visible;
}

nav li {
	float: right;
	list-style: none;
	text-transform: uppercase;
	font-weight: bold;
}

nav li a {
	color: #fff;
	padding: 10px;
}

nav li a:link {
	color: #fff;
}
nav li a:visited {
	color: #fff;
}
nav li a:hover {
	color: #ffff99;
	background: rgba(0,80,0, .5);
	border-radius: 10px;
	text-decoration: none;
	
}

nav li a:active {
	color: #f4f4f4;
	background: rgba(0,80,0, .75);
	box-shadow: 0px .5px 0px #008600;
}	

/*------ story div ------*/
#story {
	clear: both;
	padding: 0.15% 2.6041667%; 
	width: 94.7916667%;
	height: 33.8541667%;
	background: url('../images/bg_gradient.png') repeat-x;
}

#story h2 {
	color: #333;
	text-shadow: 1px 1px 0px #fff;
	margin: 1.0416667% 0;
}

#story p {
	font-size: 1.2em;
	color: #000;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	-moz-column-gap: 15px; /* Firefox */
	-webkit-column-gap:15px; /* Safari and Chrome */
	column-gap:15px;
}

#prof_b_container {
	width: 19.2708333%; /*185px/960px*/
	height: 28.6458333%; /*275px/960px*/
	float: left;
	margin: 0 2.833333% 1% 0;	
}

#prof_b {
	float: left;
	max-width: 100%;
	border: solid 5px #fff;
	box-shadow: 0px 0px 4px #999;
}

/*------ end story -------*/

/*------- drinks -------*/
.menu p{
	font-size: 1.1em;
	color: #000;
	letter-spacing: .06em;
}

#drinks {
	margin: 0;
	padding-left: 2.6041667%;
	width: 94.7916667%; /* 910px/960px */
}

#drinks h2 {
	border-top: 1px solid #001A55;
	width: 62.6373626%;
	color: #333;
	text-shadow: 1px 1px 0px #999;
}

#drinks h3 {
	color: #333;
	text-shadow: 1px 1px 0px #999;	
}

#drinks img{
	max-width: 100%;
	border: 5px solid #fff;
	margin: 5px 15px 0 0;
	box-shadow: 0px 0px 5px #999;
	float: left;
	margin-bottom: 1%;
}
.image {
	width: 19.2307692%; /*175px/910px*/
}

#hot {
	width: 51.5494505; /*460px/910px*/
}

#cold {
	clear: left;
	width: 50.5494505; /*460px/910px*/
}

#cold img {
	float: left;
}


#other {
	clear: left;
	height: 100px;
	/*width: 335px;*/
	width: 50.5494505; /*460px/910px*/
}
#other img {
	float: left;
}

/*------ roasted div -------*/
aside {
	float: right;
	background: #4F1119;/* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #72191a 0%, #4f1119 75%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#72191a), color-stop(75%,#4f1119)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #72191a 0%,#4f1119 75%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #72191a 0%,#4f1119 75%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #72191a 0%,#4f1119 75%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  #72191a 0%,#4f1119 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72191a', endColorstr='#4f1119',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 30.2197802%!important;
	height: 54.9450549%;
	padding: 2.1978022% 0.5494505% 0 3.8461538%; /*20px 5px 0 35px/910px*/
	border-radius: 15px;
	border-bottom: 1px solid #333;
	-webkit-box-shadow: 1px 1px 2px #000;
	-moz-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
}

aside h2 {
	color: #ff9!important;
	text-shadow: none!important;
	border-top: none!important;
	margin-top: 0.5494505%; /*5px*/
	text-transform: uppercase;
	letter-spacing: .04em;
	width: 100%!important;
}

aside h3 {
	color: #ff9!important;
	text-shadow: none!important;
	margin: 0.5494505% 0;
}

aside ol li {
	margin: 0.5494505% 0;
	position: relative;
	left: -5.4545455%; /*15px/275px*/
	color: #fff;
	padding: 1.81818181%; /*5px/275px*/
}

#roasted_p {
	font-weight: bold;
	margin: 0 0 0.5494505% 0;
	color: #fff;
	text-align: center;
}

/*------end roasted div -------*/

/*------ end drinks ------*/

.clearfix {
	clear: both;
}

/*------ events/location/hours section ------*/
section {
	margin: 4.3956044% 0 0 0;
	background: #001A55;
	color: #fff;
	padding-left: 1.648516%; /*15px/910px*/
	height: 750px;
	border-top: 2px solid #4F1119;
	overflow: visible;
}

section h3{
	margin:0;
}

section a {
	float: right;
	color: #fff;
	display: block;
	height: 18px;
	width: 10.4166667%;
	background: #001A55;
	position: relative;
	top: -4.6458333%;
	text-align: center;
	font-size: .75em;
	letter-spacing: .07em;
	padding: 0.20833333%; /*2px/960px*/
	margin: 2.08333333% 2.6041667% 0 0; /*20px 25px 0 0/960px*/
	border-top: 2px solid #4F1119;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

section a:hover {
	color: #ffff99;
}


/*------ events ------*/

#events {
	float: left;
	margin: 0 0 20px 0;
	width: 100%;
}

#events h3 {
	width: 95.7446809%; /*900px/940px*/
	margin-left: 1.0638298%; /*10px/940px*/
	padding-top: 0.5319149%;/*5px*/
	position: relative;
	top: -20px;
	font-size: 1.35em;
	border-top: 1px solid #fff;
	color: #FFFF99;
}


#events img {
	max-width: 100%;
	margin-top: 5px;
	border: 0.438em solid #fff;
	box-shadow: 0 0 6px #004EFF;

}


.event_img {
	float: left;
	width: 17.1875%; /*165px/960px*/
	height: 36.66666667%; /*275px/750px*/
	text-align: center;
	padding: 0.5208333% 1.0416667%; /*5px 10px*/
}

.event_img p {
	font-size: .8em;
}



/* ------ location ------*/
#location {
	width: 27.083333333%;/*260px/960px*/
	height: 26.5625%;/*255px*/
	margin: 10px;
	float: left;
}

#location h3{
	color: #FFFF99;
}
#location img {
	max-width: 100%;
	border: 0.313em solid #fff;
	margin-top: 0.5208333%;/*5px*/
	box-shadow: 0 0 0.313em #004EFF;
}
#location  p {
	text-align: center;
	font-size: .85em;
}

/*------ hours ------*/
#hours {
	float: left;
	width: 27.0833333%;/*260px/960px*/
	margin: 1.0416667% 1.0416667% 0 2.6041667%;/*10px 10px 0 25px*/
	padding-left: 1.0416667%; /*10px/960px*/
}
#hours ul li { 
	font-size: 1.35em;
	margin-top: 5px;
	position: relative;
	left: -15px;
}
#hours h3 {
	color: #ffff99;
}


#newsletter {
	float: left;
	background: #000;
	background: rgba(0,0,5,.80);
	width: 28.6458333%; /*275px/960px*/
	/*height: 18.75em;/*300px/16-1em*/
	padding: .625em .75em 1em 1em;
	margin: 0 2.6041667% 2.6041667% 3.6458333%;/*0 25px 0 30px*/
	border-bottom: .063em solid #4F1119;
	border-radius: 0.938em;
	box-shadow: .063em .063em 0.125em #000;  /*1px 1px 2px*/
}

#newsletter h2 {
	text-align: center;
}

#newsletter span {
	color: #c0d3ff;
}

#newsletter p {
	margin: 0 auto;
	width: 89.09090991%; /*245px/275px*/
	font-size: 1em;
}

/*------ form ------*/

#form { 
	/* placeholder for form */
	height: 10.938em; /*175px/16em*/
	background: rgba(255,255,255,.10);
}

#form button {
		position: relative;
		top: 140px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #000;
		padding: 5px 10px;
		background: -moz-linear-gradient(
			top,
			#ffff99 0%,
			#e8dc00 50%,
			#e6d300 50%,
			#ffff00);
		background: -webkit-gradient(
			linear, left top, left bottom, 
			from(#ffff99),
			color-stop(0.50, #e8dc00),
			color-stop(0.50, #e6d300),
			to(#ffff00));
		background: -o-linear-gradient(rgb(255,245,00),rgb(255,200,00));
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border: 1px solid #ffff00;
		-moz-box-shadow:
			0px 1px 3px rgba(000,000,000,0.5),
			inset 0px 0px 1px rgba(255,255,255,0.6);
		-webkit-box-shadow:
			0px 1px 3px rgba(000,000,000,0.5),
			inset 0px 0px 1px rgba(255,255,255,0.6);
		text-shadow:
			0px 1px 0px rgba(000,000,000,.2),
			0px -1px 0px rgba(255,255,255,1);
}

#form button:active {
	background: -moz-linear-gradient(
		top,
		#ffff00 0%,
		#e6d300 50%,
		#e8dc00 50%,
		#ffff99);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffff00),
		color-stop(0.50, #e8d300),
		color-stop(0.50, #e6dc00),
		to(#ffff99));
	background: -o-linear-gradient(rgb(255,225,10),rgb(255,235,5));	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #ffff00;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);	
}

/*------ footer ------*/

footer {
	clear: both;
	margin: 0;
	padding:0;
	background: #4F1119;
	border-top: 2px groove #FFF;
	border-bottom: 2px groove #4F1119;
	height: 50px;
	overflow: hidden;
}


footer li {
	list-style: none;
	float: right;
	margin: 5px 10px;
}

footer a:link {
	color: #fff;
}
footer a:visited{
	color: #fff;
}

footer a:hover{
	color: #ffff99;
}

footer a:active{
	color: #666;
}

footer p {
	float: left;
	padding: 6px 25px;
	color: #fff;
}

/* =================== Media Queries =================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {
		h1 {font-size: 3em;
		}
		
		header {
			height: 200px;
		}
				
		nav {
			width: 67%;
		}
		
		#story p {
			font-size: 1.05em;
		}
		
		#drinks h2 {
			border: none;
			width: 62.6373626%;
		}

		#story p {
			-moz-column-count: 2;
			-webkit-column-count: 2;
			column-count: 2;
			-moz-column-gap: 1.0427529%; /*10px*/ /* Firefox */
			-webkit-column-gap:1.0427529%; /*10px*/ /* Safari and Chrome */
			column-gap: 1.0427529%; /*10px*/ 
		}
				
		aside {
			margin: 0 auto;
			width: 31.5%!important;
			padding: 2.1978022% 1.5494505% 0 3.125%; /*20px 5px 0 30px/910px*/
		}
		
		aside h2 {
			font-size: 1.375em;
	
		}
		aside h3 {
			font-size: 1.1em;
		}
		
		aside ol li {
			font-size: .90em;
		}
	
		.menu p {
			font-size: 1em;
			letter-spacing: .04em;
		}
		
		section {
			height: 725px;
		}
		
		section h4 {
			font-size: .75em;
		}
		
		#events img {
			border: 0.125em solid #fff;
			box-shadow: 0 0 1px #004EFF;
		}
		
		.event_img p {
			font-size: .65em;
		}
						
		.caption {
			display: none;
		}
		
		#hours {
			margin-left: 1.5641293%; /*15px/959px*/
			padding-left: 1.0427529%; /*15px/959px*/
		}
		
		#hours ul li {
			font-size: 1.1em;
		}
			
} /* --- end Tablet Portrait --- */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
				
				
		header {
			height: 180px;
		}
				
		nav {
			width: 70%;
		}
		nav a{
			font-size: .8em;
		}
		
	
		h1 {
			font-size: 2.6em;
		}
		
		#story p {
		font-size: 1em;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		-moz-column-gap: 1.0427529%; /*10px*/ /* Firefox */
		-webkit-column-gap:1.0427529%; /*10px*/ /* Safari and Chrome */
		column-gap: 1.0427529%; /*10px*/
		}
		
		#drinks h2 {
			border: none;
			width: 62.6373626%;
			font-size: 1.25em;
		}
		
		.menu p{
			font-size: .95em;
		}
		
		aside {
			margin: 0 auto;
			width: 33.5%!important;
			padding: 2.1978022% 1.5494505% 0 3.125%; /*20px 5px 0 30px/910px*/
		}
		
		aside h2 {
			font-size: 1.3em;
		}
		aside h3 {
			font-size: 1em;
		}
		
		aside ol li {
			font-size: .90em;
		}
		
		#roasted_p {
			font-size: 1em!important;
		}
		
		section {
			float: none;
		}
		#events img {
			border: 0.125em solid #fff;
			box-shadow: 0 0 1px #004EFF;
		}	
	
		section {
			height: 625px;
		}
		
		section a {
			display: none;
		}
		
		section h4 {
			font-size: .7em;
		}
		
		#events h3 {
			margin-top: 5px;
			top: 2%;
		}
	
		.event_img p {
			font-size: .7em;
		}
				
		.caption {
			display: none;
		}
		
		
		#location {
			margin: 10px;
			float: left;
		}
		
		#location p{
			font-size: .8em;
			text-align: left;
			
		} 
		
		#hours {
			float: left;
		}
		
		#hours ul li {
			font-size: 1em;
		}
		
		#newsletter {
			float: left;
			margin: 0 0 1% 0;
			}
		
		#newsletter h2 {
			font-size: 1.2em;
		}
		#newsletter p {
			font-size: .82em;
		}	
					
		footer li {
			float: right;
			font-size: .9em;
		}
		
		#copyright {
			font-size: .9em;
		}
	
	
} /* --- end Mobile Landscape --- */


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 700px) {

				header {
					height: 170px;
				}
				
				#logo_container, #logo  {
					display: none;
				}

				nav {
					width: 100%;
				}
				nav a{
					font-size: .75em;
				}


				h1 {
					font-size: 2.3em;
					width: 100%;
					text-align: center;
					margin-left: 0;
				}
				
				#prof_b {
					display: none;
				}
	
				
				#story h2 {
					font-size: 1.15em;
					width: 20%;
				}

				#story p {
				clear: both;
				font-size: .98em;
				-moz-column-count: 1;
				-webkit-column-count: 1;
				column-count: 1;
				/*-moz-column-gap: 1.0427529%; /*10px*/ /* Firefox */
				/*-webkit-column-gap:1.0427529%; /*10px*/ /* Safari and Chrome */
				/*column-gap: 1.0427529%; /*10px*/
				}

				#drinks h2 {
					border: none;
					width: 62.6373626%;
					font-size: 1.15em;
				}
				
				#drinks h3 {
					font-size: 1em;
				}
				
				#drinks  img{
					display: none;
				}
				
				.menu p{
					font-size: .85em;
				}

				aside {
					margin: 0 auto;
					width: 37%!important;
					padding: 2.1978022% 1.5494505% 0 3.125%; /*20px 5px 0 30px/910px*/
				}

				aside h2 {
					font-size: 1.15em;
				}
				aside h3 {
					font-size: .95em;
				}

				aside ol li {
					font-size: .75em;
				}

				#roasted_p {
					font-size: .98em!important;
				}

				section {
					float: none;
				}
				#events img {
					border: 0.125em solid #fff;
					box-shadow: 0 0 1px #004EFF;
				}	

				section {
					height: 725px;
				}

				section a {
					display: none;
				}

				section h4 {
					font-size: .7em;
				}
				
				

				#events h3 {
					font-size: 1.1em;
					marginp: 5px 0 10px 0;
					top: 5px;
				}
				
				.event_img {
					float: non;
				}
				
				.event_img img {
					display: none;
				}

				.event_img p {
					font-size: .7em;
				}

				.caption {
					display: none;
				}


				#location {
					margin: 10px;
					float: left;
				}

				#location p{
					font-size: .8em;
					text-align: left;

				} 

				#hours {
					float: right;
					width: 40%;
				}

				#hours ul li {
					font-size: 1em;
				}

				#newsletter {
					clear: both;
					float: right;
					width: 40%;
					margin: 0 2.5%;
					}

				#newsletter h2 {
					font-size: 1.1em;
				}
				#newsletter p {
					font-size: .82em;
				}	

				footer li {
					float: right;
					font-size: .9em;
				}

				#copyright {
					font-size: .9em;
				}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
		
		nav {
			display: none;
		}
		nav ul li {
			font-size: .8em;
		}
		
		#logo_container #logo{
			display: none;
		}
		

		
		header {
			height: 100px;
		}
		
		h1 {
			width: 98%;
			font-size: 2em;
			text-align: center;
			margin: 1% auto;
		}
	
		#story h2 {
			margin-left: 5.2192067%; /*25px*/
			font-size: 1.2em;
		}
		
		#story p {
		clear: both;	
		font-size: .95em;
		padding: 0 5.2192067%; /*25px*/
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
		}
		
		#prof_b {
			display: none;
		}
		
		#drinks h2{
			border: none;
			margin-left: 10%;
			font-size: 1.2em;
		}
		
		
		#hot, #cold, #other {
			margin-left: 10%;
		}
		
		
		#drinks img{
			display: none;
		}
		
		#drinks p {
			font-size: 1em;
		}
		
		aside {
			float: none;
			margin: 2% auto;
			width: 80%!important;
		}

		aside h2 {
			font-size: 1.5em!important;
			text-align: center;
			margin: 0!important;
		}
		aside p {
			width: 100%;
			text-align: center;
		}
		
		aside h3 {
			display: none;
		}
		
		aside ol li {
			display: none;
		}
		
		section a {
			display: none;
		}
		
		section {
			height: 255px;
		}
		
		#location {
			width: 40%;
		}
		
		#location p{
			text-align: left;
			font-size: .8em;
		}
		
		#location img {
			border: none;
		}
		
		#events {
			display: none;
		}
		
		#hours {
			width: 45%;
			float: right;
		}
		#hours ul li{
			font-size: 1em;
			position: relative;
			left: -15%;
		}
		
		#newsletter {
			display: none;
		}
		
		footer ul {
			display: none;
		}
}
		